<?xml version="1.0"?>
<launch>

    


  <node pkg="my_motor_controller" type="motor_driver_ros_interface.py" name="motor_controller_ros" output="screen"/>
  
  <!-- Differential Drive Controller  -->
  <node pkg="differential_driver" type="twist_to_motors.py" name="twist_to_motors" output="screen"/>
  
  </launch>